.p-field {
    padding: 1rem;
}

:host::ng-deep .p-dialog {
    width:fit-content;
    height: fit-content;
    min-height: 55vh;
}

.submit-btn {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}

.p-field-radiobutton {
    display: flex;
}

.p-formgroup-inline {
    display: flex;
    padding-left: 1rem
}
