<div class="register-page">
    <div class="app-register-form">
      <form (ngSubmit)="register()" #registerForm="ngForm">
        <div class="form-group">
          <p-floatLabel>
            <input
              id="name"
              type="text"
              pInputText
              name="name"
              required
              ngModel
            />
            <label for="name">Name</label>
          </p-floatLabel>
        </div>
        <div class="form-group">
          <p-floatLabel>
            <input
              id="email"
              type="text"
              pInputText
              name="email"
              required
              email
              ngModel
            />
            <label for="email">Email</label>
          </p-floatLabel>
        </div>
        <div class="form-group">
          <p-floatLabel>
            <input
              id="username"
              type="text"
              pInputText
              name="username"
              required
              ngModel
            />
            <label for="username">Username</label>
          </p-floatLabel>
        </div>
        <div class="password-group">
            <div class="form-group password">
              <p-floatLabel>
                <input
                  id="password"
                  type="password"
                  pInputText
                  name="password"
                  required
                  ngModel
                />
                <label for="password">Create Password</label>
              </p-floatLabel>
            </div>
            <div class="form-group">
              <p-floatLabel>
                <input
                  id="confirm-password"
                  type="password"
                  pInputText
                  name="confirm-password"
                  required
                  ngModel
                />
                <label for="confirm-password">Confirm Password</label>
              </p-floatLabel>
            </div>
        </div>

        <div class="form-group">
          <p-button
            label="Sign Up"
            type="submit"
            [disabled]="!registerForm.valid"
            class="submit-button"
          ></p-button>
        </div>
      </form>
    </div>
  
    <img src="../../../../assets/sign-up.svg" alt="" />
  </div>
  