<app-loader *ngIf="this.userService.isLoading"></app-loader>
<div class="profile-page" *ngIf="!this.userService.isLoading">
  <img src="../../../../assets/profile.svg" alt="" />
  <div class="app-profile-form">
    <form (ngSubmit)="updateProfile()" #profileForm="ngForm">
      <div class="form-group">
        <p-floatLabel>
          <input
            id="name"
            type="text"
            pInputText
            name="name"
            required
            [(ngModel)]="name"
          />
          <label for="name">Name</label>
        </p-floatLabel>
      </div>
      <div class="form-group">
        <p-floatLabel>
          <input
            id="email"
            type="text"
            pInputText
            name="email"
            required
            email
            [(ngModel)]="email"
          />
          <label for="email">Email</label>
        </p-floatLabel>
      </div>
      <div class="form-group">
        <p-floatLabel>
          <input
            id="username"
            type="text"
            pInputText
            name="username"
            required
            [(ngModel)]="username"
          />
          <label for="username">Username</label>
        </p-floatLabel>
      </div>
      <div class="form-group">
        <p-floatLabel>
          <input
            id="registration-date"
            type="text"
            pInputText
            name="registration-date"
            required
            [(ngModel)]="registrationDate"
            disabled="true"
          />
          <label for="registration-date">Created on</label>
        </p-floatLabel>
      </div>
      <div class="form-group">
        <p-button
          label="Update Profile"
          type="submit"
          [disabled]="!profileForm.valid"
          [loading]="loadingUpdateProfile"
          severity="success"
          class="submit-button"
        ></p-button>
      </div>
    </form>
    <p-divider [align]="'center'">
      <b>OR</b>
    </p-divider>
    <form (ngSubmit)="updatePassword()" #passwordForm="ngForm">
      <div class="form-group">
        <p-floatLabel>
          <input
            id="current-password"
            type="password"
            pInputText
            name="current_password"
            required
            ngModel
          />
          <label for="current-password">Current Password</label>
        </p-floatLabel>
      </div>
      <div class="change-password-group">
        <div class="form-group password-input">
          <p-floatLabel>
            <input
              id="password"
              type="password"
              pInputText
              name="new_password"
              required
              ngModel
            />
            <label for="new_password">New Password</label>
          </p-floatLabel>
        </div>
        <div class="form-group password-input">
          <p-floatLabel>
            <input
              id="confirm-password"
              type="password"
              pInputText
              name="confirm_password"
              required
              ngModel
            />
            <label for="confirm_password">Confirm Password</label>
          </p-floatLabel>
        </div>
      </div>
        <div class="form-group">
          <p-button
            label="Update Password"
            type="submit"
            [disabled]="!passwordForm.valid"
            [loading]="loadingUpdatePassword"
            severity="success"
            class="submit-button"
          ></p-button>
        </div>
      
    </form>
  </div>
</div>
