<app-loader *ngIf="this.questionService.isLoading"></app-loader>
<div class="questions-page" *ngIf="!this.questionService.isLoading">
  <div class="question-page-header">
    <div class="search-autocomplete">
      <div class="select-category">
        <p-autoComplete
          [(ngModel)]="selectedCategory"
          [dropdown]="true"
          [suggestions]="filteredCategories"
          (completeMethod)="filterCategory($event)"
          field="category"
          placeholder="search category..."
        ></p-autoComplete>
      </div>
      <div class="select-category">
        <p-autoComplete
          [(ngModel)]="selectedQuestion"
          [dropdown]="true"
          [suggestions]="filteredQuestions"
          (completeMethod)="filterQuestion($event)"
          field="question_text"
          placeholder="search question..."
        ></p-autoComplete>
      </div>
    </div>
    <div class="btn-group">
      <div class="upload-btn">
        <p-fileUpload
          mode="basic"
          chooseIcon="pi pi-upload"
          name="demo[]"
          (onSelect)="confirmUpload($event)"
          pTooltip="Upload quiz data"
          accept=".json"
        ></p-fileUpload>
      </div>
      <div class="download-btn">
        <p-button
          icon="pi pi-download"
          severity="success"
          (click)="downloadQuizData()"
          pTooltip="Download quiz data"
        ></p-button>
      </div>
    </div>
  </div>
  <div class="questions">
    <p-accordion [multiple]="true" [activeIndex]="[0]">
      <div class="accordian">
        <p-accordionTab *ngFor="let item of quizData"
          ><ng-template pTemplate="header">
            <span>{{ item.category }}</span>
          </ng-template>
          <div class="add-question-btn">
            <p-button
              type="button"
              icon="pi pi-plus"
              severity="success"
              [text]="true"
              (click)="openCreateQuestionForm(item)"
            ></p-button>
          </div>
          <app-question-card
            *ngFor="let question of item.question_data"
            [question]="question"
            (updateEvent)="handleUpdateQuestion($event)"
            (deleteEvent)="handleDeleteQuestion($event)"
          ></app-question-card>
        </p-accordionTab>
      </div>
    </p-accordion>
  </div>
</div>
<p>{{ selectedCategory?.category }}</p>
<p>{{ selectedQuestion?.question_text }}</p>

<app-question-form
  [showQuestionForm]="showQuestionForm"
  [category]="category"
  (closeQuestionForm)="closeQuestionForm()"
></app-question-form>
