<app-loader *ngIf="this.questionService.isLoading"></app-loader>
<div class="questions-page" *ngIf="!this.questionService.isLoading">
  <div class="search-autocomplete">
    <div class="select-category">
      <p-autoComplete
        [(ngModel)]="selectedCategory"
        [dropdown]="true"
        [suggestions]="filteredCategories"
        (completeMethod)="filterCategory($event)"
        field="category"
        placeholder="category"
      ></p-autoComplete>
    </div>
    <div class="select-category">
      <p-autoComplete
        [(ngModel)]="selectedQuestion"
        [dropdown]="true"
        [suggestions]="filteredQuestions"
        (completeMethod)="filterQuestion($event)"
        field="question_text"
        placeholder="question"
      ></p-autoComplete>
    </div>
  </div>
  <div class="questions">
    <p-accordion [multiple]="true" [activeIndex]="[0]">
      <div class="accordian">
        <p-accordionTab
          *ngFor="let item of quizData"
          header="{{ item.category }}"
        >
          <app-question-card
            *ngFor="let question of item.question_data"
            [question]="question"
          ></app-question-card>
        </p-accordionTab>
      </div>
    </p-accordion>
  </div>
</div>
<p>{{selectedCategory?.category}}</p>
<p>{{selectedQuestion?.question_text}}</p>
