.button-group {
  display: flex;
  align-items: center;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 0.7rem;
}

:host::ng-deep p-menubarsub {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

:host::ng-deep a.p-menubar-button {
  order: 3;
  padding-left: 12px;
}

:host::ng-deep .p-menubar{
  padding: 13px 16px;
  border-radius: 0px;
}
