<div class="card">
  <p-menubar [model]="items" class="menu-bar">
    <ng-template pTemplate="start">
      <div class="logo-container">
        <img src="./../../../../assets/logo.svg" alt="SmartQuiz-logo" height="40" class="logo" />
      </div>
    </ng-template>
    <ng-template pTemplate="end">
      <div class="button-group" *ngIf="!isLoggedIn">
        <p-button label="Login" size="small" (click)="login()"></p-button>
        <p-button label="SignUp" severity="success" size="small" (click)="register()"></p-button>
      </div>
      <p-button label="Logout" severity="danger" size="small" *ngIf="isLoggedIn" (click)="logout()"></p-button>
    </ng-template>
  </p-menubar>
</div>
