img {
  width: 40%;
}

.register-page {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 80vh;
}

.app-register-form {
  text-align: center;
  width: 30%;
}

.form-group {
  margin-bottom: 1.5rem;
}

.submit-button {
  display: block;
  width: 100%;
}

input {
  width: 100%;
}

.password-group {
    display: flex;
    justify-content: space-between;
}

.password {
    margin-right: 1rem;
}

:host::ng-deep .p-button {
  width: 100%;
  background-color: #209cee;
  transition: background-color border-color 0.3s ease;
  border-color: #209cee;
}

:host::ng-deep .p-button:hover {
  background-color: #1a83cc;
  border-color: #1a83cc;
}
